<div id="<%= dom_id review %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Author:</strong>
    <%= review.author %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rating:</strong>
    <%= pretty_rating review.rating %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Text:</strong>
    <%= review.text %>
  </p>
</div>
